.endowment {}

.endowment__title {
    font-size: 36px;
    text-align: left;
    max-width: 870px;
    @media (max-width: 991px) {
        font-size: 24px;
        text-align: center;
    }
    @media (max-width: 595px) {
        max-width: 345px;
    }
}

.endowment__content {}

.endowment__top {
    background: #FFFFFF;
    box-shadow: 0 4px 50px rgba(112, 211, 224, 0.25);
    border-radius: 24px;
    padding: 50px 100px;
    font-family: FuturaDemiC;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #181818;
    @media (max-width: 991px) {
        padding: 30px 20px;
    }
}

.quote-content {
    &:before {
        content: url("../img/quote.svg");
        padding-right: 40px;
    }
}

.center-content {
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: 991px) {
        flex-direction: column;
    }
}

.endowment__center {
    padding: 120px 0;
    @media (max-width: 991px) {
        padding: 60px 0;
    }
}

.year {
    position: absolute;
    font-family: FuturaDemiC;
    font-style: normal;
    font-weight: 600;
    font-size: 288px;
    line-height: 100%;
    color: #EDEDED;
    opacity: 0.7;
    z-index: -1;
    @media (max-width: 991px) {
        font-size: 144px;
    }
}

.year-desc {
    padding-left: 20%;
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    color: #181818;

    p {
        padding: 0;
        margin: 0;
    }
    @media (max-width: 991px) {
        padding-left: 0;
        padding-top: 40px;
    }
}

.endowment__desc {
    }

.endowment__bottom {
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #181818;

    p {
        padding-top: 30px;
    }

    ul li {
        list-style-type: none;
        display: flex;
        align-items: baseline;

        &:before {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            background-color: #0153A0;
            border-radius: 50%;
            margin-right: 10px;
            flex: none;
        }
    }
}

.endowment__item {
    padding-left: 0;
    margin-left: 0;
}

.bottom__list {
    padding-top: 38px;
}

.endowment-plate {}

.endowment-plate__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 80px;
    @media (max-width: 991px) {
        flex-direction: column;
        padding-top: 60px;
    }
}

.endowment-plate__left {
    padding: 0 40px;
}
// .endowment-plate__right {
//   display: flex;
// }

.min-plate {
    max-width: 370px;
    margin-left: 40px;
    @media (max-width: 991px) {
        margin: 0 0 20px;
    }
}
