@font-face {
    font-family: 'FuturaBookC';
    src: url('FuturaBookC.eot');
    src: url('FuturaBookC.eot?#iefix') format('embedded-opentype'),
        url('FuturaBookC.woff2') format('woff2'),
        url('FuturaBookC.woff') format('woff'),
        url('FuturaBookC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BlocC';
    src: url('BlocC.eot');
    src: url('BlocC.eot?#iefix') format('embedded-opentype'),
        url('BlocC.woff2') format('woff2'),
        url('BlocC.woff') format('woff'),
        url('BlocC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

